body {
    background-color: #272727 !important;
}

.input-field [type=text] {
    color: white !important;
}

textarea {
    color: white !important;
}

.browser-default {
    background-color: #272727 !important;
}

.row .input-field input:focus {
    border-bottom: 1px solid #8BC34A !important;
    box-shadow: 0 1px 0 0 #8BC34A !important;
}

.input-field .prefix.active {
    color: #8BC34A !important;
}

.btn, .btn:visited, .btn:focus {
    background-color: #212121 !important;
}

.btn:hover {
    background-color: #8BC34A !important;
}

/* selektor filmova */

.dropdown-content.select-dropdown li span  {
    background-color: #272727 !important;
    color: white !important;
}

.dropdown-content.select-dropdown li span:hover  {
    background-color: #212121 !important;
    color: #8BC34A !important;
}

.dropdown-content {
    max-height: 400px !important;
    overflow-y: auto !important;
}
